.aboutme {
    display: flex;
    flex-wrap: wrap;
    max-width: 1450px;
    margin: 40px auto;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: #302e2e;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  }
  
  .left-section {
    flex: 1;
    max-width: 350px;
    padding: 20px;
    text-align: center;
    border-right: 2px solid #f0f0f0;
  }
  
  .left-section img {
    width: 95%;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .left-section img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  }
  
  .details {
    border-left: 4px solid #3776ab; /* Vertical line */
    padding-left: 20px; /* Space between line and text */
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  .details p {
    margin: 10px 0;
    padding-left: 10px; /* Space between heading and text */
    font-size: 1.1em;
    text-align: left; /* Align text to the left */
    color: rgb(136, 134, 134);
  }
  
  .details p strong {
    font-weight: bold;
    color: #acb1b5; /* Matching the color with the vertical line */
  }
  
  .details p:first-child {
    margin-top: 0;
  }
  
  .details p:last-child {
    margin-bottom: 0;
  }
  
  .skills {
    margin-top: 30px;
  }
  
  .skills h3 {
    color: #c7c2c2;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .skill-bar {
    margin-bottom: 15px;
  }
  
  .skill-bar span {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #c7c2c2;
  }
  
  .progress {
    background-color: #c7c2c2;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
  }
  
  .python { width: 90%; background-color: #ffbd39; }
  .stat-analysis { width: 85%; background-color: #ffbd39; }
  .web-devolapement {width: 89%; background-color: #ffbd39;}
  .ml { width: 90%; background-color: #ffbd39; }
  .nlp { width: 87%; background-color: #ffbd39; }
  .dl-frameworks { width: 85%; background-color: #ffbd39; }
  
  .right-section {
    flex: 2;
    padding: 20px;
  }
  
  .right-section h1 {
    margin-top: 0;
    color: #4CAF50;
    font-size: 49px;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
  }
  
  .right-section > p {
    line-height: 1.8;
    color: #c7c2c2;
    margin-bottom: 30px;
    font-size: 18px;
  }
  
  .aboutProfile {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
    color: #333;
    margin-top: 20px;
  }
  
  .profileHeading,
  .profileEnding {
    display: flex;
    flex-direction: column;
  }
  
  .profileHeading h4,
  .profileEnding p {
    margin: 11px 0; /* Small margin for minimal spacing */
  }
  
  .aboutProfile > div {
    display: flex;
  }
  
  .profileHeading h4 {
    font-weight: bold;
    color: #3776ab;
    text-align: left;
    margin-right: 10px; /* Small gap between heading and text */
    white-space: nowrap; /* Prevents line break */
    font-size: 18px;
  }
  
  .profileEnding p {
    margin-left: 0;
    padding-left: 0;
    font-weight: normal;
    color: #a8a4a4;
    text-align: left;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    .aboutProfile {
      flex-direction: column;
    }
  
    .aboutProfile > div {
      flex-direction: row;
    }
  
    .left-section, .right-section {
      padding: 10px;
      border-right: none;
    }
  
    .right-section > p {
      max-width: 100%;
    }
    
  }


  .kaggleSection {
    margin-top: 40px;
    text-align: center;
    padding-top: 30px;
}

.kaggleSection h3 {
    font-size: 30px;
    font-weight: bold;
    color: #3776ab; /* Kaggle's primary color */
    margin-bottom: 10px;
}

.kagglebtn {
    background-color: #20beff; /* Kaggle's button color */
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-top: 13px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.kagglebtn:hover {
    background-color: #1b95d9;
}

.kagglebtn a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.kaggleIconWrapper {
    background-color: #fff; /* White background for the icon */
    border-radius: 50%; /* Circular shape for the background */
    padding: 5px; /* Space around the icon */
    margin-right: 8px; /* Space between the icon and text */
}

.kaggleIconBtn {
    color: #3776ab; /* Kaggle's primary color for the icon */
    font-size: 16px;
    border-radius: 10px;
}




  